/* increase play and pause button size */
.glyphicon-play, .glyphicon-pause {
    font-size: 35px;
}

/* dygraph in dark mode */
.dygraph-axis-label {
  color: #B9BEC2;
}

.dygraph-legend {
  background-color: #272B30 !important;
}